---
import BaseLayout from "../layouts/BaseInformationLayout.astro";
import { getInformation, getInformationDetail } from "../library/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
    const response = await getInformation({ fields: ["id"] });
    return response.contents.map((content: any) => ({
        params: {
            informationId: content.id,
        },
    }));
}

//記事の詳細情報を取得
const { informationId } = Astro.params;
const information = await getInformationDetail(informationId as string);

//日付のフォーマットを変更
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";

dayjs.extend(utc);
dayjs.extend(timezone);

const date = dayjs
    .utc(information.publishedAt)
    .tz("Asia/Tokyo")
    .format("YYYY.MM.DD");
---

<BaseLayout pageTitle={information.title}>
    <article class="p-article l-section">
        <div class="p-article__content">
            <header class="p-article__header">
                <div class="p-article__summary">
                    <span class="c-tag u-en"
                        ><span>{information.category.name}</span></span
                    >
                    <time class="u-en" datetime="2024-01-01">{date}</time>
                </div>
                <h1 class="p-article__ttl">{information.title}</h1>
            </header>
            <section class="p-article__body">
                <figure>
                    <img
                        src={information.eyecatch.url}
                        loading="lazy"
                        width="1000"
                        height="667"
                        alt="イベント風景"
                    />
                </figure>
                <Fragment set:html={information.content} />
            </section>
        </div>
    </article>
</BaseLayout>
